.SSS {
    width: 100%;
    height: 140vh;
    background-color: black;
    position: relative;
    top: 0;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.sss-menu {
    color: #fff;
    padding: 60px 150px;
}

.sss-menu h1 {
    font-size: 55px;
}

.sss-menu .list {
    margin: 100px 15px;
}

.sss-menu .list .list-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sss-menu .list .list-menu .page-1 {
    border-bottom: 2px solid #777;
    overflow: hidden;
    padding: 20px 0;
  height: 80px;
}
.sss-menu .list .list-menu .page-1:hover{
    height: fit-content;
}
.sss-menu .list .list-menu .page-1 .div {
    padding: 50px 20px;
}
.sss-menu .list .list-menu .page-1 .div ul{
    margin-top: 20px;
}
.sss-menu .list .list-menu .page-1 ol {
    padding: 20px 40px;
}
.sss-menu .list .list-menu .page-1 .text{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.sss-menu .list .list-menu .page-1 .text div span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(44deg);
}

.sss-menu .list .menu {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.sss-menu .list .menu li:first-child{
    color: #e08dff;
}

img{
    margin: 20px 0;
}
.sss-menu .search{
    width: 100%;
   margin: 40px 0;
}
.sss-menu .search input{
  width: 1000px;
  padding: 10px 20px;
  outline: none;
}