.sebet {
    width: 25%;
    height: 100vh;
    background-color: black;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    color: #fff;
    transition: all 2s;
}

.sebet .text {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: black;
    padding: 30px;
    gap: 60px;
    text-align: center;

}

.sebet .text .close {
    width: 10px;
    height: 10px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    transform: rotate(45deg);
    cursor: pointer;
}

.sebet .seb {
    text-align: center;
   height: 100vh;
    overflow-y:scroll;
}
.sebet .seb .urunler{
    display: flex;
    padding: 30px 20px;
    border-bottom: 1px solid #777;
}
.sebet .seb .urunler  img{
  width: 30%;
}
.sebet .seb .urunler .urun-about{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width:970px) {
.sebet {
        width: 40%;
        
    }
}
@media (max-width:600px){
    .sebet {
            width: 100%;
    
        }
                .sebet .text {
                    width: 100%;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    padding: 30px;
                    gap: 60px;
                    text-align: center;
        
                }
        
                .sebet .text .close {
                    width: 10px;
                    height: 10px;
                    border-right: 1px solid #fff;
                    border-top: 1px solid #fff;
                    transform: rotate(45deg);
                    cursor: pointer;
                }
}