.home{
    width: 100%;
    height: 150vh;
    background-image: url('../image/home-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-1 {
    width: 100%;
    display: flex;
   justify-content: space-between;
   color: #fff;
    padding: 100px 50px ;
    
}
.section-1 .text{
    position: relative;
    z-index: 2;
    margin-top: 70px;
}
.section-1 .text h1{
    font-size: 60px;
    font-weight: normal;
    margin: 20px 0;
}
.section-1 .text span{
    font-size: 20px;
}
.section-1 .text .button{
    margin-top: 40px;
}
.section-1 .text .button button{
    padding: 10px 30px;
        border: none;
        color: #fff;
        border-radius: 20px;
        font-size: 17px;
        transition: 0.5s;
        background: #a238ff;
        box-shadow: 0 0 25px rgba(125, 43, 196, 1);
}
.section-1 .imagess{
    transform: rotate(-10deg);
    position: relative;
    z-index: 1;
    opacity: 0.8;
}
.section-1 .imagess  img{
   width: 90%;
  
}
/* section-2 */
.section-2{
    width: 100%;
    height: 100vh;
    background-color: #222323;
    padding: 40px 0;
    display: flex;
   justify-content: space-between;
   color: #fff; 
}
.section-2 .image1{
    width: 70%;
    height: 88vh;
    background-image: url('../image/section-2-background.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.section-2 .image1 .text {
    margin:60px 40px;
}
.section-2 .image1 .text div h1{
    max-width: 300px;
    margin: 20px 0;
}
.section-2 .image1 .text div p{
    max-width: 480px;
    line-height: 20px;
}
.section-2 .image1 .text .icons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.section-2 .image1 .text .icons img{
    width: 5%;
}

.section-2 .image2 {
    width: 25%;
    height: 88vh;
    background-image: url('../image/section-2-background2.png');
    background-repeat: no-repeat;
    background-position: center;
    
}
.section-2 .image2 .section2-image {
    
 
    transform: translate(-40%,20%);
    z-index: 3;
}

.section-2 .image2 .section2-image img {
    width: 80%;
}
@media (max-width:970px) {
 /* section-1 */
.section-1 {
       flex-direction: column;
       align-items: center;
        padding:  20px;
        text-align: center;
        gap: 30px;
    }
        .section-1 .text h1 {
            font-size: 40px;
           
        }
         .section-1 .imagess {
             transform: rotate(0deg);
             
         }
        .section-1 .text span {
            font-size: 16px;
        }
                .section-1 .imagess img {
                    width: 60%;
        
                }
}