.home{
    width: 100%;
    height: 150vh;
    background-image: url('../image/home-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-1 {
    width: 100%;
    display: flex;
   justify-content: space-between;
   color: #fff;
    padding: 100px 50px ;
    
}
.section-1 .text{
    position: relative;
    z-index: 2;
    margin-top: 70px;
}
.section-1 .text h1{
    font-size: 60px;
    font-weight: normal;
    margin: 20px 0;
}
.section-1 .text span{
    font-size: 20px;
}
.section-1 .text .button{
    margin-top: 40px;
}
.section-1 .text .button button{
    padding: 10px 30px;
        border: none;
        color: #fff;
        border-radius: 20px;
        font-size: 17px;
        transition: 0.5s;
        background: #a238ff;
        box-shadow: 0 0 25px rgba(125, 43, 196, 1);
}
.section-1 .imagess{
    transform: rotate(-10deg);
    position: relative;
    z-index: 1;
    opacity: 0.8;
}
.section-1 .imagess  img{
   width: 90%;
  
}
/* section-2 */
.section-2{
    width: 100%;
    height: 100vh;
    background-color: #222323;
    padding: 40px 0;
    display: flex;
   justify-content: space-between;
   color: #fff; 
}
.section-2 .image1{
    width: 70%;
    height: 88vh;
    background-image: url('../image/section-2-background.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.section-2 .image1 .text {
    margin:60px 40px;
}
.section-2 .image1 .text div h1{
    max-width: 300px;
    margin: 20px 0;
}
.section-2 .image1 .text div p{
    max-width: 480px;
    line-height: 20px;
}
.section-2 .image1 .text .icons{
    display: flex;
    gap: 20px;
    align-items: center;
}
.section-2 .image1 .text .icons img{
    width: 5%;
}

.section-2 .image2 {
    width: 25%;
    height: 88vh;
    background-image: url('../image/section-2-background2.png');
    background-repeat: no-repeat;
    background-position: center;
    
}
.section-2 .image2 .section2-image {
    
 
    transform: translate(-40%,20%);
    z-index: 3;
}

.section-2 .image2 .section2-image img {
    width: 80%;
}
/* section-3 */
.section-3{
    width: 100%;
    height: 100vh;
    background-color: #222323;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.section-3 .left{
    width: 25%;
    height: 100vh;
    background-image: url('../image/section-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-3 .left  img{
    width: 60%;
    position: absolute;
    top: 5%;
    left:-8%;
}
.section-3 .right {
    width: 73%;
    height: 100vh;
    background-image: url('../image/section-3-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-3 .right {
   padding: 80px 180px;
   color: #fff;
}

.section-3 .right div:first-child{
    display: flex;
    align-items: center;
    gap: 20px;
}
.section-3 .right  div:first-child img{
    width: 8%;
}
.section-3 .right div:first-child span{
    letter-spacing: 3px;
}
.section-3 .right div:last-child h1{
font-size: 55px;
margin: 40px 0;
}
.section-3 .right div:last-child p{
    max-width: 440px;
    line-height: 25px;
}
/* section-4 */
.section-4{
    width: 100%;
    padding: 80px 0;
    background-color: #222323;
   padding: 100px 0;
    text-align: center;
    color:#fff;
   
}
.section-4 div:first-child{
    display: flex;
    flex-direction: column;
   align-items: center;    
}
.section-4 div:first-child img{
 width: 5%;
}
.section-4 div:first-child h1{
    margin: 20px 0;
    font-size: 50px;
}
.section-4 div:first-child p{
    max-width: 680px;
}
.section-4 div:nth-child(2){
    width: 100%;
    
}
.section-4 div:nth-child(2) img{
    width: 70%;

    
}
.section-4  .button button {
    padding: 10px 30px;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    transition: 0.5s;
    background: #a238ff;
    box-shadow: 0 0 25px rgba(125, 43, 196, 1);
    margin-top: 50px;
}
/* section-5 */
.section-5{
    width: 100%;
    height: 100vh;
    background-image: url('../image/section-5.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    color: #fff;
    padding: 120px 180px;
}
.section-5 div:first-child{
 display: flex;
 align-items: center;
 gap: 20px;
}
.section-5 div:first-child img{
    width: 6%;
}
.section-5 div:last-child h1{
 font-size: 55px;
 max-width: 450px;
 margin: 40px 0;
}
.section-5 div:last-child p{
    max-width: 450px;
}
/* section-6 */
.section-6{
    width: 100%;
    background-image: url('../image/section-6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    left: 0;
   top: 0;
   padding: 80px 0;
}
.section-6 h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.section-6 img{
    width: 100%;
}
.section-6 .section-6-main img{
 width: 8%;
}
.section-6 .section-6-main .div{
    width: 330px;
    background-color: #222323;
    padding: 15px 20px;
    border-radius: 20px;
    
}
.section-6 .section-6-main .div:first-child{
    position: absolute;
    top: 28%;
    left: 16%;
}
.section-6 .section-6-main .div:nth-child(2){
    position: absolute;
    top: 25%;
   right: 20%;
}
.section-6 .section-6-main .div:nth-child(3){
    position: absolute;
    bottom: 26%;
    left: 16%;
}
.section-6 .section-6-main .div:nth-child(4){
    position: absolute;
    right: 22%;
    bottom: 31%;
}
.section-6 .section-6-main .div p{
 max-width: 300px;
 
 font-size: 14px;
}
.section-6 .section-6-main .div div{
    margin-bottom: 20px ;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-6 .button button {
    padding: 10px 30px;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    transition: 0.5s;
    background: #a238ff;
    box-shadow: 0 0 25px rgba(125, 43, 196, 1);
    margin-top: 20px;
}
/* section7 */
.section-7{
    width: 100%;
    height: 100vh;
    background-color: #222323;
    padding :10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.section-7 div:first-child{
    width: 35%;
    height: 100vh;
    background-image: url('../image/section-7-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.section-7 div:last-child {
    width: 35%;
    height: 100vh;
    background-image: url('../image/section-7-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.section-7 div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}
.section-7 div h1{
    text-align: center;
    max-width: 350px;
}
.section-7 div img{
    width: 15%;

}
/* section-8 */
.section-8{
    width: 100%;
    background-color: #222323;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-8 .section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #fff;
}
.section-8 .section-header h1{
    font-size: 50px;
}
.section-8 .section-header img{
    width: 5%;
}
.section-8 .section-footer{
    display: flex;
    justify-content: center;
}
.section-8 .section-footer img{
    width: 80%;
}
.section-8 .button button {
    padding: 10px 30px;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    transition: 0.5s;
    background: #a238ff;
    box-shadow: 0 0 25px rgba(125, 43, 196, 1);
    
}
/* section-9 */
.section-9{
    width: 100%;
    background-color: #222323;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 0 ;
    color: #fff;
    gap: 40px;
}
.section-9 h1{
    font-size: 50px;
    max-width: 800px;
    text-align: center;
}
.section-9 .input-text{
    position: relative;
    top: 0;
    left: 0;
}

.section-9 .email .input-text input{
    width: 800px;
    border-radius: 110px;
    border: none;
    outline: none;
    padding: 15px 30px;
    position: relative;
    left: 0;
    top: 0;
}
.section-9 .input-text button {
    padding: 8px 40px;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    transition: 0.5s;
    background: #a238ff;
    box-shadow: 0 0 25px rgba(125, 43, 196, 1);
    position: absolute;
    top: 10%;
    right: 1%;
}
.section-9 span{
    text-align: center;
    margin: 10px 0;
}
@media (max-width:970px) {
 /* section-1 */
.section-1 {
       flex-direction: column;
       align-items: center;
        padding:  20px;
        text-align: center;
        gap: 30px;
    }
        .section-1 .text h1 {
            font-size: 40px;
           
        }
         .section-1 .imagess {
             transform: rotate(0deg);
             
         }
        .section-1 .text span {
            font-size: 16px;
        }
                .section-1 .imagess img {
                    width: 60%;
        
                }
}